/**
 * styling untuk halaman home
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F3F4F6;
}

main {
    width: 100%;
    max-width: 800px;
    padding: 32px;
}

main img {
    display: block;
    margin: 0 auto 16px auto;
    width: 100%;
    max-width: 376px;
}

main h1 {
    text-align: center;
}

/* Comment : ... */
/* TODO : Memperbaiki Tampilan Button/Tombol Logout */
main .button-logout {
    display: block;
    margin: 20px auto;
    padding: 8px 12px;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    background-color: #F3F4F6;
    color: #000000;
}
